/* globals */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* neutral colors */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
}

.wrapper {
  padding: 0.7em 1.5em;
}

header {
  align-items: center;
  display: flex;
  height: 10vh;
  background: #fff;
  font-family: 'Karla', sans-serif;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu {
  align-items: center;
  background: var(--very-dark-violet);
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: -470px;
  transition: top 0.4s;
  width: 100%;
  z-index: 5;
}

.menu--active {
  top: 10vh;
}

.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu__list-item {
  color: #fff;
  text-align: center;
  margin-right: 0.6em 2em;
  padding: 1em 3em;
}

.item--remarked-nav {
  font-weight: 600;
  outline: 1px solid #fff;
  color: #fff;
}

.menu__list-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.menu-img {
  margin-top: 2em;
}

/* segunda parte */
.humanizing {
  background: var(--dark-violet);
  color: white;
  width: 100%;
  text-align: center;
}
.humanizing__container {
  position: relative;
  width: 100%;
}
.img-intro-left {
  position: absolute;
  top: -6.1em;
  left: -1.5em;
}
.img-intro-right {
  position: absolute;
  bottom: -50%;
  right: -1.5em;
}
.humanizing__img {
  margin-left: -1.5em;
}
.text__title {
  font-size: 2.9rem;
  font-weight: 400;
  margin-top: 2em;
  line-height: 1em;
}
.text__body {
  font-family: 'Karla', sans-serif;
  line-height: 1.6em;
  margin-top: 0.7em;
}
.text__link {
  display: inline-block;
  padding: 0.4em 1em;
  color: #fff;
  outline: 1px solid #fff;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  margin-top: 1.9em;
  margin-bottom: 5em;
}
.text__link:hover {
  background: #fff;
  color: #000;
}
.item--remarked {
  color: inherit;
  text-decoration: none;
}
.line {
  display: none;
}
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding: 0.7em 2em;
  }
  .hamburger {
    display: none;
  }
  .menu__nav {
    width: auto;
    border: 0;
    margin-top: 0;
  }
  .menu__list {
    flex-direction: row;
  }
  .menu__list-item {
    color: var(--dark-grayish-violet);
    margin-right: 0.4em;
    padding: 0.4em 0.6em;
  }
  .menu__list-item:hover {
    color: #000;
  }
  .item--remarked-nav {
    outline: 1px solid #000;
    color: #000;
  }
  .item--remarked-nav:hover {
    background: #000;
    color: white;
  }
  .menu__list-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  .menu-img {
    display: none;
  }
  .humanizing {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    text-align: start;
  }
  .humanizing__img {
    position: absolute;
    margin-top: 5em;
  }
  .text {
    padding-top: 5em;
    padding-bottom: 4em;
    width: 380px;
    font-size: 0.9em;
  }
  .line {
    display: inline-block;
    width: 30%;
    height: 2px;
    border-top: 1px solid #fff;
  }
  .text__title {
    margin-top: 1em;
    font-size: 4em;
  }
  .text__body {
    font-size: 1em;
    margin-top: 3em;
  }
  .text-link {
    font-size: 1.3em;
  }
  .img-intro-left,
  .img-intro-right {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 0.7em 4em;
  }
  .text {
    width: 500px;
  }
}
@media screen and (min-width: 1300px) {
  .wrapper {
    padding: 0.7em 8em;
  }
}
