/* globals */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* primary colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* neutral colors */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
  /* font-family: 'DM Serif Display', serif; */
  /* body font */
  /* font-family: "Karla", sans-serif; */
}
body {
  font-family: "DM Serif Display", serif;
}
header {
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
}
header .logo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 1em;
}
.logo .img-logo {
  height: 1.3em;
}

header nav {
  background: var(--very-dark-violet);
}
nav ul {
  color: white;
  margin-top: 2em;
}
.nav-link {
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  letter-spacing: 0.2em;
  width: inherit;
  display: block;
  padding: 1em;
  margin: 0 1em;
  text-align: center;
}

.nav-link:hover {
  color: white;
}
.btn-remarked {
  border: 1px solid white;
}
.d-none {
  display: none;
}
