/* globals */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* neutral colors */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
}

.wrapper {
  padding: 0.7em 1.5em;
}

header {
  align-items: center;
  display: flex;
  height: 10vh;
  background: #fff;
  font-family: 'Karla', sans-serif;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu {
  align-items: center;
  background: var(--very-dark-violet);
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: -470px;
  transition: top 0.4s;
  width: 100%;
  z-index: 5;
}

.menu--active {
  top: 10vh;
}

.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu__list-item {
  color: #fff;
  text-align: center;
  margin-right: 0.6em 2em;
  padding: 1em 3em;
}

.item--remarked-nav {
  font-weight: 600;
  outline: 1px solid #fff;
  color: #fff;
}

.menu__list-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.menu-img {
  margin-top: 2em;
}

.humanizing {
  background: var(--dark-violet)
    url('./images/bg-pattern-intro-left-mobile.svg') no-repeat bottom left;
  background-position-y: 59%;
  color: white;
  width: 100%;
  text-align: center;
}
.humanizing::after {
  content: '';
  display: none;
}
.humanizing::before {
  content: url('./images/bg-pattern-intro-right-mobile.svg');
  position: absolute;
  right: 0;
  bottom: -95%;
}
.humanizing__container {
  position: relative;
  width: 100%;
}

.humanizing__img {
  margin-left: -1.5em;
}
.text__title {
  font-size: 2.9rem;
  font-weight: 400;
  margin-top: 2em;
  line-height: 1em;
}
.text__body {
  font-family: 'Karla', sans-serif;
  line-height: 1.6em;
  margin-top: 0.7em;
}
.text__link {
  display: inline-block;
  padding: 0.4em 1em;
  color: #fff;
  outline: 1px solid #fff;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  margin-top: 1.9em;
  margin-bottom: 5em;
  cursor: pointer;
  z-index: 5;
}
.text__link:hover {
  background: #fff;
  color: #000;
}
.item--remarked {
  color: inherit;
  text-decoration: none;
}
.line {
  display: none;
}
.line-diferent {
  width: 40%;
  border-top: 1px solid var(--dark-grayish-violet);
  margin: 7em auto 2em;
}
.section-diferent__title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 1em;
}
.grid-diferent__article {
  text-align: center;
  margin-bottom: 3em;
}
.grid-diferent__article h3 {
  margin: 1em 0;
  font-weight: 400;
  font-size: 1.3rem;
}
.grid-diferent__article p {
  margin-top: 1em;
  font-size: 1rem;
  color: var(--dark-grayish-violet);
  font-family: 'Karla', sans-serif;
}
.section-find__content {
  color: #fff;
  background: var(--dark-violet)
    url('./images/bg-pattern-how-we-work-mobile.svg') no-repeat top right;
  padding: 1em;
}
.section-find__content h2 {
  text-align: center;
  font-size: 2.4rem;
  margin: 1.5em 0 1em;
  font-weight: 400;
}

.btn-remarked-bottom {
  text-align: center;
  border: 1px solid #fff;
  width: 60%;
  margin: 0 auto 2em;
  font-family: 'Karla', sans-serif;
  padding: 1em 2em;
  font-weight: bold;
}
.btn-remarked-bottom:hover {
  background: #fff;
  color: #000;
}
.buttonWork {
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
footer {
  margin: 3em 0 2em;
  background: var(--very-light-gray)
    url('./images/bg-pattern-footer-mobile.svg') no-repeat;
}
.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
}
.section-socials {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--dark-grayish-violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-insure-bottom {
  margin-top: 3em;
  margin-bottom: 1em;
}
.social-networks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.7em;
  place-items: center;
}
.section-footer {
  margin-top: 3em;
  text-align: center;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}
.section-footer__title {
  color: var(--dark-grayish-violet);
  letter-spacing: 0.1em;
  margin: 0.5em auto;
}
.section-footer__list {
  list-style: none;
}
.section-footer__list-item {
  margin-bottom: 0.3em;
}
.section-footer__list-item a {
  color: var(--very-dark-violet);
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding: 0.7em 2em;
  }
  .hamburger {
    display: none;
  }
  .menu__nav {
    width: auto;
    border: 0;
    margin-top: 0;
  }
  .menu__list {
    flex-direction: row;
  }
  .menu__list-item {
    color: var(--dark-grayish-violet);
    margin-right: 0.4em;
    padding: 0.4em 0.6em;
  }
  .menu__list-item:hover {
    color: #000;
  }
  .item--remarked-nav {
    outline: 1px solid #000;
    color: #000;
  }
  .item--remarked-nav:hover {
    background: #000;
    color: white;
  }
  .menu__list-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }
  .menu-img {
    display: none;
  }
  .humanizing {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    text-align: start;
    background: var(--dark-violet) no-repeat top right;
  }
  .humanizing::before {
    content: url('./images/bg-pattern-intro-left-desktop.svg');
    position: absolute;
    left: 0;
    bottom: -50%;
  }
  .humanizing::after {
    content: url('./images/bg-pattern-intro-right-desktop.svg');
    position: absolute;
    right: 0;
    top: -30%;
    display: inline;
  }
  .humanizing__img {
    position: absolute;
    margin-top: 5em;
  }
  .text {
    padding-top: 5em;
    padding-bottom: 4em;
    width: 380px;
    font-size: 0.9em;
  }
  .line {
    display: inline-block;
    width: 30%;
    height: 2px;
    border-top: 1px solid #fff;
  }
  .text__title {
    margin-top: 1em;
    font-size: 4em;
  }
  .text__body {
    font-size: 1em;
    margin-top: 3em;
  }
  .text-link {
    font-size: 1.3em;
  }
  .section-diferent {
    position: relative;
    margin-top: 5em;
  }
  .grid-diferent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-diferent__article {
    padding: 1em;
    text-align: start;
  }
  .section-find__content {
    color: #fff;
    background: var(--dark-violet)
      url('./images/bg-pattern-how-we-work-desktop.svg') no-repeat top right;
    display: grid;
    grid-template-columns: 1fr 40vw;
    place-items: center;
  }
  .section-find__content h2 {
    text-align: start;
  }
  .btn-remarked-bottom {
    width: 40%;
  }
  footer {
    background: var(--very-light-gray)
      url('./images/bg-pattern-footer-desktop.svg') no-repeat;
    margin: 1em 0;
  }
  .footerGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'section-footer-1 section-footer-2' 'section-footer-3 section-footer-4';
  }
  .section-socials {
    flex-direction: row;
    align-items: baseline;
    padding-top: 0;
    justify-content: space-between;
  }
  .section-footer:nth-child(1) {
    grid-area: section-footer-1;
  }
  .section-footer:nth-child(2) {
    grid-area: section-footer-2;
  }
  .section-footer:nth-child(3) {
    grid-area: section-footer-3;
  }
  .section-footer:nth-child(4) {
    grid-area: section-footer-4;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 0.7em 4em;
  }
  .text {
    width: 500px;
  }

  .section-diferent {
    margin-top: 12em;
  }
  .line-diferent {
    width: 8.5%;
    margin: 7em 0 2em;
  }
  .section-diferent__title {
    text-align: start;
  }
  .humanizing::after {
    content: url('./images/bg-pattern-intro-right-desktop.svg');
    position: absolute;
    right: 0;
    top: -20%;
  }
  .footerGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 'section-footer-1 section-footer-2 section-footer-3 section-footer-4';
  }
}
@media screen and (min-width: 1300px) {
  .wrapper {
    padding: 0.7em 8em;
  }
}
